RPC_URL=
CHAIN_ID=5000
AGENT_EXECUTOR_ENABLED=false
AGENT_EXECUTOR_PRIVATE_KEY=
AGENT_EXECUTOR_ALLOW_MAINNET=false
AGENT_MAX_TX_VALUE_WEI=1000000000000000
AGENT_DAILY_LIMIT_USD=10
AGENT_ALLOWED_RECIPIENTS=
AGENT_ALLOWED_CHAIN_IDS=5000
